/* Colours */
/* Active: C78283 */
/* Header & Footer: 1A1423 */
/* Nav Links: F3D9DC */
/* Headings: 545775 */
/* 3 Colours: C78283(red), 545775(purple), AB9598(brown)*/
@font-face {
    font-family: Myanmar-Khyay;
    src: url(fonts/Myanmar-Khyay.ttf.woff);
}

@font-face {
    font-family: Handwriting;
    src: url(fonts/Myfont1-Regular.ttf);
}

/*Text Styling*/
h1 {
    font-size: 50px;
    font-family: Handwriting;
    color: #545775;
    margin: 10;
    text-align: center;
}
h2{
    font-size: 25px; 
}
p {
    margin: 0;
    line-height: 2;
}
a {
    font-weight: normal;
    text-decoration: none;
}

/*Body Styling*/
body {
    padding: 0;
    margin: 0;
    font-family: Myanmar-Khyay;
    font-size: 20px;
}

/*Header Styling*/
header{
    margin: 0;
    padding: 0;
    height: 60px;
    padding-right: 10px;
    background-color: #1A1423;
}

nav {
    display: block;
    width: 100%;
    height: 60px;
    background-color: #1A1423;
    
    top: 0;
}
ul {
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

}
li {
    float: left;
}
li a {
    display: block;
    font-size: 20px;
    color: #f3d9dc;
    text-align: center;
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
}
li a:hover {
    color: #c78283;
}
.active {
    color: #c78283;
    list-style: none;
}

/*Main Styling*/
main {
    height: 100%;
    position: relative;
    padding: 0;
    width: 55%;
    left: 22%;
    top: 10%;
    margin-top: 30px;
}

section {
    margin: 0;
    padding-bottom: 10px;
}

/*Summary Section on Homepage*/
.sumandimg {
    display: inline-block;
}
#left{
    float: left;
    width: 40%;
}
#right{
    float: right;
    width: 400px;
}

/*Work Section on Homepage*/
.works{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: solid 10px #1A1423;
}
.photoframe{
    object-fit: scale-down;
    background-size: contain;
    border: solid 10px #1A1423;
    padding: 10px;
    margin: 10px 10px 0px 10px;
    bottom: 0;
    justify-content: center;
    display: flex;
}
#pf1 {
    background-image: url(images/LargeTask1.png);
}
#pf2 {
    background-image: url(images/smallTask2.png);
}
.photoframe-desc {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 10px;
    background-color: #545775 ;
     
}
.photoframe-desc a{
    color: #fff; 
}
.photoframe-desc:hover{
    opacity: 1;
}
#shelf {
    background: #1A1423;
    height: 10px;
}
#pf1{
    width: 221px;
    height: 279px;
}
#pf2{
    width: 250px;
    height: 320px;
}
#pf3{
    width: 314px;
    height: 218px;
    
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

/*Social Section on Homepage*/
.socials{
    color: #fff;
    display: flex;
    justify-content: center
}
.socials a{
    text-decoration: none;
    color: #fff;
    
}
.socialtab {
    width: 360px;
    height: 80px;
    display: flex;
    align-items: center;
    margin: 10px;
}
.socialicon{
    height: 50%;
    padding: 5%;
    float: left;
}
#s1{
    background: #C78283;
    
}
#s2{
    background: #545775;
}
#s3{
    background: #AB9598;
}

.ethos{
    padding: 20px;
    margin: 10px 50px 10px 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    
}

/*My Works Page Styling*/


/*Project Page Styling*/
.aboutproj{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1000px;
    padding: 30px 30px 30px 30px;
    margin: 10px 10px 10px 10px;
}
.project-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.project-link{
    width: 500px;
    border: solid 5px #545775 ;
    text-align: center; 
}
.individual-image{
    height: 420px;
}
#small-task-photo{
    width: 500px;
}
.process{
    background: #D7BCC8;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}
.processdesc{
    background: #fff;  
    width: 75%;
    border-radius: 10px;
}
.section-process{
    padding: 10px 100px 10px 100px;
    margin: 50px 50px 50px 50px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.process-tag {
    background: #fff;
    border-radius: 10px;
    border: solid 3px #AB9598 ;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-family: Myanmar-Khyay;
    align-self: center;
}
.process-tag:hover {
    background: #AB9598;
    color: #fff;
}
.process-tag a {
    text-decoration: none;
    color: #000;
}
#back-to-top{
    justify-self: center;
}
.end-photo{
    width: 500px;
}

#coding-photo1{
    width: 300px;
}
#coding-photo2{
    width: 700px;
}


/*About Me Page Styling*/
.aboutme{
    display: inline-block;
}
.aboutmetxt{
    font-size: 15px;
}



footer {
    text-align: center;
    background-color: #1A1423;
    color: #f3d9dc;
}
